__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

.pytest_cache/
.coverage
htmlcov/

.DS_Store
Thumbs.db

*.log
*:Zone.Identifier
*.pt
runs/

data/yolo_dataset/*
!data/yolo_dataset/.gitkeep
data/review/

*.zip
data/raw/*
!data/raw/.gitkeep
